<div
  class="mx-5 d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">
    <%= singleCustomer.firstName %> <%= singleCustomer.lastName %>
  </h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">
        Share
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary">
        Export
      </button>
    </div>
  </div>
</div>

<div class="col py-3 mx-5">
  <div class="row">
    <div class="col">
      <nav area-lable="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item"><%= singleCustomer.firstName %></li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b
        >Last Updated <%= new Date(singleCustomer.updatedAt).toUTCString() %>
      </b>
      <b>userId:</b> <%= singleCustomer._id %>
    </div>
  </div>
</div>

<ul class="list-group mx-5">
  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"><b>Name:</b></div>
      <div class="col">
        <%= singleCustomer.firstName %> <%= singleCustomer.lastName %>
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"><b>Tel:</b></div>
      <div class="col"><%= singleCustomer.tel %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"><b>Email:</b></div>
      <div class="col"><%= singleCustomer.email %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"><b>Details:</b></div>
      <div class="col"><%= singleCustomer.details %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"><b>Date Created:</b></div>
      <div class="col"><%= singleCustomer.createdAt %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"><b>Date Modified:</b></div>
      <div class="col"><%= singleCustomer.updatedAt %></div>
    </div>
  </li>
</ul>
